/* Would have used $variables for colors and common styles */

section {
  width: 100%;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  max-height: 80px;
  overflow: hidden;

  .image {
    width: 80px;
    img {
      width: 100%;
    }
  }

  .main-section {
    flex-grow: 1;
    padding: 10px;
    display:flex;
    flex-direction: column;

    .airline-name {
      font-weight: bold;
      padding-bottom: 5px;
    }

    .departure,
    .arrival {
      font-weight: bold;
    }

    .arrival {
      margin-left: 10px;
    }

    .stops-container {
      position: relative;
      span {
        background: #FFF;
        padding: 3px 25px;
        border-radius: 20px;
        border: 2px solid #000;
        margin: 0 20px;
        font-size: 0.75rem;
        z-index: 1;
      }
      &:after {
        content: '';
        height: 2px;
        background: #000;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        z-index: -1;
      }
    }

    .dep-code,
    .arr-code {
      color: #666;
      margin: 0 10px;
    }
  }

  .duration {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 0 10px;
    margin: 10px 0;
    align-items: center;
    align-content: center;
    display: flex;
    .title {
      color: #666;
    }
    .value {
      padding-top: 5px;
      color: #000;
      font-weight: bold;
      display: block;
    }
  }

  .actions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-grow: 1;
    padding: 10px;
    .price {
      font-weight: bold;
      padding-bottom: 10px;
    }
  }

}

