<ng-container *ngIf="trip">
  <section>
    <div class="image">
      <img [src]="logoUrl" />
    </div>
    <div class="main-section">
      <p class="airline-name">{{firstLegDepAirlineName}}</p>
      <div class="legs">
        <span class="departure">{{firstLegDepDate | date: 'h:mm a LLL d'}}</span>
        <span class="dep-code">{{firstLegDepAirportCode}}</span>
        <span class="stops-container" *ngIf="stops"><span>{{stops}} Stop</span></span>
        <span class="arrival">{{lastLegArrDate | date: 'h:mm a LLL d'}}</span>
        <span class="arr-code">{{lastLegArrAirportCode}}</span>
      </div>
    </div>
    <div class="duration">
      <p class="title">Duration
        <span class="value">{{duration}}</span>
      </p>
    </div>
    <div class="actions">
      <p class="price">{{price | currency: 'USD'}}</p>
      <button (click)="viewOption.emit(trip.uuid)">View</button>
    </div>
  </section>
</ng-container>
